.flatpickr-monthSelect-months {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}

.flatpickr-monthSelect-month {
  width: 65px;
  padding: 10px 0;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.flatpickr-monthSelect-month:hover,
.flatpickr-monthSelect-month.selected {
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
}